{% extends 'base.html' %}
{% block title %}All User Itineraries{% endblock %}

{% block body %}
    <h1>All User Itineraries</h1>

    <ul> 
    {% for itinerary in user_itinerary %}
        <li> 
        <h2>
            <a href="/user_itinerary/{{itinerary.user_itinerary_id}}">
            {{itinerary.name_place}}
        </a>
        </h2>
          
        <h2>Hotels:</h2>
        <ul>
        {% for hotel in itinerary.hotels %}
            <li>Hotel name: {{hotel.name}}</li>
        {% endfor %}
        </ul>

        <h2>Activities:</h2>
        <ul>
        {% for activity in itinerary.activities %}
            <li>Activity Name: {{activity.name}} </li>
            <li>Adress: {{activity.address}} </li>
            <li>Contact: {{activity.contact_info}} </li>
        {% endfor %}
        </ul>
        </li>
        
        <form class="save_itinerary">
            <input type="hidden" id="itinerary_to_save" value="{{itinerary.user_itinerary_id}}">
            <input type="hidden" id="save_name_place" value="{{itinerary.name_place}}">
            <input type="hidden" id="save_hotels" value="{{itinerary.hotels}}">
            <input type="hidden" id="save_activities" value="{{itinerary.activities}}">
            <button type="submit"> Save itinerary </button>
        </form>
    {% endfor %}
    </ul>

<script src="/static/save_itinerary.js"> </script>  
{% endblock %}
 