{% extends 'base.html' %}
{% block title %}Budget Travels Home{% endblock %}

{% block body %}

  <h2>Welcome to your favorite itinerary builder!</h2>
  <!-- <ul>
    <li><a href="/users">View all users</a></li>
    <li><a href="/user_itinerary">View all user's itineraries</a></li>
  </ul> -->
 
  <h3>Create an Account</h3>
  <form action="/users" method="POST">
    <p>
      User_name <input type="text" name="user_name">
    </p>
  
    <p>
      Email <input type="text" name="email">
    </p>
 
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
 
  
  <h3>Log In</h3>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>


{% endblock %}
