{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block body %}
   <h1>{{ user.user_name }}</h1>
   
   <h2>Budget</h2>
    <h2 id="user_budget"> {{ user.budget }}</h2>
    <form id="budget_update">
        <label for="budget">Update Budget:</label><br>
        <input type="text" id="budget" name="budget" value=""><br>
        <input type="submit" value="Submit">
    </form>
 
 
   <h2>User Itineraries</h2>
   {% if user_itineraries %}
   <ul>
    {% for user_itinerary in user_itineraries %}
        <li>
            <a href="/user_itinerary/{{user_itinerary.user_itinerary_id}}">
            {{user_itinerary.name_place }} - Number of nights:{{user_itinerary.nights}} - Budget per day:{{user_itinerary.budget_per_day}}
            </a>
        </li>       
    {% endfor %}
   </ul>
   {% endif %}
  

   <h2>Create New Itinerary</h2>
   <form action="/new_itinerary" method="POST">
    <input type="text" name="new_itinerary" placeholder="Itinerary Title">
    <button type="submit"> Create </button>
    </form>



    <form action="/logout" method="POST">
      <p>
        <button type="submit"> Logout </button>
      </p>
    </form>



<script src="/static/budget_update.js"> </script>   
{% endblock %}
