{% extends 'base.html' %}

{% block title %} Search Details {% endblock %}

{% block body %}
{% for result in result_list %}
<h1>{{result['name']}}</h1>
{{result['formatted_address']}}
<form action="/add_to_itinerary" method="POST">
<input type="hidden" name= "name" value="{{result['name']}}">
<input type="hidden" name="location" value="{{result['formatted_address']}}">
<button type="submit"> Add to itinerary </button>
<select name="itinerary">
    {% for itinerary in itineraries%}
    <option value="{{itinerary.user_itinerary_id}}"> {{itinerary.name_place}} </option>
    {% endfor %}
</select>
<select name="hotelxactivity">
    <option value="hotel">Hotel</option>
    <option value="activity">Activity</option>
</select>

<input type="number" placeholder="Number of Nights" name="number_nights" value="">
<input type="number" placeholder="Total Price" name="price_hotel" value="">
 
</form>
{% endfor %}
{% endblock %}
 